@model WebApplication1.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team_coach_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team_coach_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team_coach_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team_coach_last_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.team_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
